body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;

}

.main{
  flex: 1;
  background-color: cadetblue;
}

span{
  color: blue;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.card-title
  {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    }

.card{
  width: 45%;
}

footer{
  clear: both;
  color: midnightblue
}

h1{
  font-size: 2.5rem;
}

.tile-image{
  margin-right: 50px;
  height: 200px;
  float: left;
}

.left-card{
  float: left;

  
}
.right-card{
  float:right;
}
.tile-image{
  size: 2rem;
}


@media (min-width: 500px) and (max-width: 601px){
    body {width: 45%}
}