body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;

}

.main{
  flex: 1;
  background-color: cadetblue;
}

span{
  color: blue;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


footer {
  text-align: right;
  color: midnightblue;
}
.card{
  width: 45%;
}

footer{
  clear: both;
  color: midnightblue
}

h1{
  font-size: 2.5rem;
}

p{

}


.tile-image{
  margin-right: 50px;
  height: 200px;
  float: left;
}

.left-card{
  float: left;

  
}
.right-card{
  float:right;
}
.tile-image{
  size: 2rem;
}


@media (min-width: 500px) and (max-width: 601px){
    body {width: 45%}
}